#logo {
    background-image: url(../images/landing.jpg);
    text-align: center;
    color: white;
    height: 636px;
}
.happytime{
    height: 210px;
}

#happy{
    text-align: center;
}
#party{
    text-align: center;
}

#breakfast{
    background-image: url("../images/foodtop/breakfast.jpg");
    text-align: center;
    color: white;
    height: 210px;
}
#lunch{
    background-image: url("../images/foodtop/lunch.jpg");
    color: white;
    text-align: center;
    height: 210px;
}
#dinner{
    background-image: url("../images/foodtop/dinner.jpg");
    color: white;
    text-align: center;
    height: 210px;
}
#footer{
    background-color: #F15A29;
    text-align: center;
    color: white;
}
#subscribe {
    background-image: url(../images/subscribe.jpg);
    height: 301px;
    text-align: center;
    color: white;
}
#in{
    background-color:rgba(176,174,174,0.35);
    border: none;
    outline: none;
}
#btn{
    background-color: #F15A29;
    border: none;
    outline: none;
}
#customer1{
    color: #F15A29;
}
#customer2{
    color: #F15A29;
}
#bg{
    background-image: url(../images/foodsBg.jpg);
    height: 599px;
}
#party{
    color: white;
    background-color: #F15A29;
    text-align: center;
    height: 105px;
}
a {
    color: #F15A29;
}
#no{
    padding: 0px;
    margin: 0px;
    height: 210px;
}
#footlog{
    float: center;
}
#menu{
    text-align: center;
}
/* Add a grey background color to the top navigation */
.topnav {
    background-color: grey;
    overflow: hidden;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: white;
    color: #F15A29;
}
#panel{
    padding: 20px;
}
#cb{
    height: 220px;

}
#bb{
    height: 220px;

}
#cp{
    height: 220px;

}