#logo {
    background-image: url(../images/landing.jpg);
}
#breakfast{
    position: relative;
    text-align: center;
    color: white;
}
#footer{
    background-color: #F15A29;
    text-align: center;
}
#subscribe {
    background-image: url(../images/subscribe.jpg);
    height: 301px;
}