#logo {
    background-image: url(../images/landing.jpg);
}
#breakfast{
    background-image: url(..images/foodtop/breakfast.jpg);
}
#lunch{
    background-image: url(images/foodtop/lunch.jpg);
}
#dinner{
    background-image: url(..images/foodtop/dinner.jpg);
}